.choose-row {
    margin-bottom: 50px;
    display: table;
}

.description {
    margin-left: 0px;
    margin-right: -60px;
    padding-left: 60px;
    
}

.headerDetail{
    text-align: left;
    margin-bottom: 12px;
    line-height: 41px;
    font-size: 30px;
    /* text-align: center; */
    color: #8c999f;
    margin: 0 0 6px 0;
    font-weight: 400;
}
.choseSpan{
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #27b5fb;
    margin-bottom: 21px;
    display: block;   
}

.choose-rowP {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 25px;
    text-align: left;
    color: #8c999f;
}

.choose-rowa{
    font-size: 20px;
    text-align: left;
    margin: 0 0 26px 0;
    display: inline-block;
    color: #ffc800;
    padding: 0 13px 0 0;
    background: url(https://res.cloudinary.com/dt0sbcfc6/image/upload/v1522790806/denver/right-arrow.png) right center no-repeat;
}

.thumbnail {
    position: relative;
    z-index: 2;
    width: 450px ;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

 .thumbnailimg {
    vertical-align: bottom;
    max-width: 100%;
    box-shadow: 7px 7px 20px 0 rgba(0, 0, 0, 0.2);
   
   
    
}









@media only screen and (max-width: 767px){
.content .why-choose-us .choose-row .description, .content .why-choose-us .choose-row:nth-child(even) .description {
    padding: 0 15px;
}}
@media only screen and (max-width: 1024px){
.content .why-choose-us .choose-row:nth-child(even) .description {
    margin: 0px;
    padding: 0px;
}}
.content .why-choose-us .choose-row:nth-child(even) .description {
    margin-left: 0px;
    margin-right: -60px;
    padding-left: 60px;
}
@media only screen and (max-width: 1024px){
.content .why-choose-us .choose-row .description {
    width: 100%;
    padding: 0px;
    margin-left: 0px;
}}
.content .why-choose-us .choose-row .description {
    position: relative;
    z-index: 1;
    margin-left: -60px;
    width: 739px;
    background-color: rgba(148, 197, 214, 0.1);
    float: left;
    padding: 53px 98px;
}