.NavBar{
    padding-top:20px ;
    padding-bottom: 30px;
    min-height: 6vh;
    margin-top: 30px;
    
}

.SocialButtonsBox{
    border-right: 1px solid rgb(132, 132, 132);
    border-left: 1px solid rgb(129, 129, 129);
    padding-left: 30px;
    padding-right: 30px;

}
.socialButtons{
    
}
.w60Nav{
    width: 60%;
}
.callBtn{
    margin-left: 25px ;
    margin-right: 15px;
    border: 1px solid black;
    min-height: 65px;
    min-width: 65px;
    border-radius: 50%;
}

.SlogenParegraph{
    margin-bottom: 12px;
}

.socialButtons{
    border: 1px solid black;
    border-radius: 50%;
    min-height: 30px;
    min-width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.link{
    margin-right: 60px;
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
}
.allNav_Links{
    background-color: #1A91CB;
    min-height: 3vh;
}