.NavBar{
    padding-top:40px ;
    padding-bottom: 30px;
    min-height: 12vh;
    margin-top: 30px;
    
}

.SocialButtonsBox{
    border-right: 1px solid rgb(132, 132, 132);
    border-left: 1px solid rgb(129, 129, 129);
    padding-left: 40px;
    padding-right: 40px;

}
.socialButtons{
    
}
.w70Nav{
    width: 90%;
}
.callBtn{
    margin-left: 55px ;
    margin-right: 25px;
    border: 1px solid black;
    min-height: 85px;
    min-width: 85px;
    border-radius: 50%;
}

.SlogenParegraph{
    margin-bottom: 12px;
}

.socialButtons{
    border: 1px solid black;
    border-radius: 50%;
    min-height: 50px;
    min-width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.link{
    margin-right: 60px;
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
}
.allNav_Links{
    background-color: #1A91CB;
    min-height: 8vh;
}