.flexRow{
display:  flex;
flex-direction: row;
}
.center{
  justify-content: center;
  align-items: center;
}
.acenter{
  align-items: center;
}
.flexCol{
  display: flex;
  flex-direction: column;
}
.w100{
  width: 100%;
}
.w70{
  width: 70%;
}
.bet{
  justify-content: space-between;
}
.cw{
  color: white;
}
.marginBottom{
  margin-bottom: 12px;
}
.marginTop70{
  margin-top: 70px;
}
.marginRight{
  margin-right: 20px;
}
.marginRight10{
  margin-right: 10px;
}
.cy{
 color: rgb(255, 174, 0);
}